.dropdown {
  z-index: 100;
  display: block;
  position: fixed;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primaryColor);
  left: 112px;
  top: 0px;
  width: 100px;
  height: 100%;
  padding: 12px 16px;
  z-index: 100000;
}

.bonus-area:hover .dropdown-content {
  display: block;
}
.dropdown-content:hover {
  display: block;
}
.active .dropdown-content {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
